body{
    padding: 0;
    margin: 0;
    background-color: #454545;
}
.navigation 
{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
button
{
    border-radius:  20px;
    color: #FFF;
    width: 102px;
    margin: 5px;
    background-color: #454545;
}
button:focus
{
    border-color: #91afa2;
    stroke-width: 5px;
    background-color: #454545;
}
.account-info-form
{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 45px;
    border-radius: 20px;
    border: 1px solid #91afa2;
    align-content: space-between;
    padding: 19px;
    margin: 20px auto;
    
}
input
{
     flex-basis: auto;
}
form p
{
    font-size: 16px;
    flex-basis: auto;

}
.submitButton
{
    width: 186px;
    background-color: #FFF;
    color: #454545;
    font-size: 32px;
}
.daysOfWeek
{
    color: #FFF;
    font-size: 24px;
    font-family: Roboto;
}
.workout-name
{
    all: unset;
    font-size: 20px;
    color: #91afa2;
    margin: 4px;
}
.editIcon
{
    width: 20px;
    height: 20px;
}
.restDay
{
    font-size: 20px;
}
#workout-container
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}